@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html, body {
    height: 100vh;
    width: 100vw;

    background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}
main {
    height: 100vh;
    position: relative;
}
#telefone {
    height: 627px;
    width: 311px;

    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    
    background: url('../imagens/frame-iphone.png') no-repeat;
}
#tela-telefone {
    position: relative;
    top: 81px;
    left: 22.4px;
    height: 470.5px;
    width: 267px;
}
#redes-sociais {
    text-align: right;
}
#redes-sociais img {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.145);
}
#redes-sociais img {
    transition: transform .3s;
}
#redes-sociais img:hover {
    transform: scale(1.2);
}